<h1>Admin::Dashboard#show</h1>
# <p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <tbody>
      <h3>Product Count <%= @products_count %> <h3>
      <h3>Categories Count <%= @categories_count %> <h3>
    </tbody>
  </table>
</div>
